h1 {
  font-family: "Ephesis", cursive;
  font-weight: bolder;
  opacity: .5;
  color: white;
  font-size: 20vw;
}
p {
  font-family: "Festive", cursive;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.row{margin: 0;}
.jumbotron {
  height: 100vh;
  background-position: fixed;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.jumbo1 {
  background-image: url(/img/pexels-arthouse-studio-4641265.jpg);
}
.jumbo2 {
  background-image: url(/img/pexels-asad-photo-maldives-1591373.jpg);
}
.jumbo3 {
  background-image: url(/img/pexels-jeremy-bishop-8241099.jpg);
}
.jumbo4 {
  background-image: url(/img/pexels-daniel-frank-356807.jpg);
}
.jumbo5 {
  background-image: url(/img/pexels-francesco-ungaro-1671324.jpg);

}
footer{height: 20vh;
background-color: red;}
i{background-color: brown;padding: 5px;
border-radius: 50px;}